<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="penscript"> <p>한글은 이렇게 보이지롱</p> </div>

<div class="row">
  <div class="col-sm-2 col-md-8">
    <div class="thumbnail">
      <div class="caption">
      	<div class="penscript-title">
	      	<p>세상은 내가 바꾼다</p>
	      </div>
	      <div class="penscript">
	        <p>그러니까 우린 아직 .. 원먼스레일 만난 건 정말 행운이야
	        그러니까 우린 아직 .. 원먼스레일 만난 건 정말 행운이야
	        그러니까 우린 아직 .. 원먼스레일 만난 건 정말 행운이야
	        그러니까 우린 아직 .. 원먼스레일 만난 건 정말 행운이야 </p>
      	</div>
        <p><a href="#" class="btn btn-primary" role="button">view more</a></p>
      </div>
    </div>
  </div>
</div>