<div id="journals" class="transitions-enabled">
  <% @journals.each do |journal| %>
    <div class="box">
      <div class="penscript-title">
        <%= journal.title %>
      </div>
      <p>
        <%= journal.body[0 .. 200] %>
      </p>
      <%= link_to 'Read More', journal_path(journal), class: "btn btn-default btn-sm" %>
    </div>
  <% end %>
</div>

<% if current_user == User.first %>
  <%= link_to 'New Journal', new_journal_path, class: "btn btn-warning"  %>
<% end %>