// Place all the styles related to the journals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#journals {
  margin: 0 auto;
}

.box {
  margin: 7px;
  width: 360px;
}
